html {
    background-color: #444444;
    color: #EEE;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    line-height: 1.4;
}
.sentry-v1 {
    background: rgba(0,0,0,0.3);
    color: white;
}

a {
  color: #EEE;
  text-decoration: none;
  margin: 0 5px 0 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-animation: linkpop 1.5s;
}

.a1 {
    margin: 0 5px 0 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-animation: linkpop 1.5s;
    outline: none;
    font-size: 17px;
    line-height: 140%;
    color: aliceblue;
    text-decoration: none;
}

a1 {
    margin: 0 5px 0 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-animation: linkpop 1.5s;
    outline: none;
    font-size: 17px;
    line-height: 140%;
    color: aliceblue;
    text-decoration: none;
}

a1:hover, a1:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.remodal {
    background-color: #0e0e0e !important;
}

input {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  resize: none;
  padding-left: .65em;
  border: none;
  border-radius: .4em;
  width: 420px;
  height: 2.7em;
  font-size: .65em;
  outline: none;
}

textarea {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  resize: none;
  padding-left: .65em;
  border: none;
  border-radius: .4em;
  width: 420px;
  height: 180px;
  font-size: .65em;
  outline: none;
}

.animlink:hover, .animlink:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

h1 {
    font-size: 30px;
    line-height: 140%;
    color: aliceblue;
    text-align: center;
    -webkit-animation: linkpop 1.5s;
}
h2 {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    font-size: 30px;
    line-height: 140%;
    color: aliceblue;
    text-align: center;
    -webkit-animation: linkpop 1.5s;
}

.btn404 {
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 3px;
}

.divider {
    background-image:url(../images/divider.png);
	display:block;
    width:300px;
    height:35px;
    margin:10px auto;
	-webkit-animation: linkpop 1.5s;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

p {
    font-size: 20px;
    line-height: 140%;
    color: aliceblue;
    text-align: center;
    margin-bottom: 0;
    -webkit-animation: linkpop 1.5s;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
}

.stopfade {
    opacity: .5;
}

.dim {
  background: url(../images/pattern.png) repeat;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  z-index: -800;

  width: 100%;
  height: 100%;
}

.header {
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    height: 2.5em;
    text-align: center;
    padding-top: 0.5em;
    position: fixed;
    z-index: 9000;
    width: 100%;
    -webkit-animation: fadeinanim 1.5s;
    -webkit-animation-fill-mode: forwards;
}

.header-links {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.22em;
}

::selection {
  background: aliceblue; 
}
::-moz-selection {
  background: aliceblue;
}

p { 
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-size:22px;
    letter-spacing: 2px;
    line-height:140%;
    color: aliceblue;
    text-align:center;
    margin-bottom: 0;
    animation: linkpop 1.5s;
    -webkit-animation: linkpop 1.5s;
}

.footer {
    background: rgba(0, 0, 0, 0.45);
    bottom: 0;
    height: 1.7em;
    text-align: center;
    padding-top: 0.3em;
    position: fixed;
    z-index: 9000;
    width: 100%;
    -webkit-animation: fadeinanim 1.5s;
    -webkit-animation-fill-mode: forwards;
}

.background-changer-btn {
    float: right;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 14px;
    margin-right: 1.2em;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    -webkit-transition: .4s background ease;
    -webkit-transition: .4s -webkit-transform ease;
    -moz-transition: .4s background ease;
    -moz-transition: .4s -moz-transform ease;
    -o-transition: .4s background ease;
    -o-transition: .4s -o-transform ease;
    transition: .4s background ease;
    transition: .4s transform ease;
}

.background-changer-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.20);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.language-changer-btn {
    float: left;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    float: left;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 14px;
    margin-left: 1.2em;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    -webkit-transition: .4s background ease;
    -webkit-transition: .4s -webkit-transform ease;
    -moz-transition: .4s background ease;
    -moz-transition: .4s -moz-transform ease;
    -o-transition: .4s background ease;
    -o-transition: .4s -o-transform ease;
    transition: .4s background ease;
    transition: .4s transform ease;
}

.language-changer-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.20);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.wrapper {
  width: 60%;
  height: auto;
  margin: 10em auto;
  text-align: center;
  -webkit-animation: fadeinanim 1s;
  -webkit-animation-fill-mode: forwards;
}

.visible {
    display: inherit !important;
}

.optionbox {
  margin-top: -7em;
  margin-left: 5px;
  text-align: left;
  vertical-align: middle;
  display: none;
  position: fixed;
  right: 8px;
  padding: 1em .2em 1em 2em;
  width: 185px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-animation: linkpop 1.5s;
  border: 1px solid #fff;
  font-size: 15px;
  color: aliceblue;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.20);
}

.optionbox-right {
    margin-top: -7em;
    margin-left: 5px;
    text-align: center;
    display: none;
    position: fixed;
    left: 3px;
    padding: 0.39em .2em 1em .2em;
    height: 85px;
    width: 250px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-animation: linkpop 1.5s;
    border: 1px solid #fff;
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.20);
}

.divider {
    background-image: url(../images/divider.png);
    display: block;
    width: 300px;
    height: 35px;
    margin: 10px auto;
    -webkit-animation: linkpop 1.5s;
}

.big-btn {
    margin-top: 2em;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 14px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .4s background ease;
    -webkit-transition: .4s -webkit-transform ease;
    -moz-transition: .4s background ease;
    -moz-transition: .4s -moz-transform ease;
    -o-transition: .4s background ease;
    -o-transition: .4s -o-transform ease;
    transition: .4s background ease;
    transition: .4s transform ease;
}

/* ========================================================================== Animations ========================================================================== */


.fadein {
    -webkit-animation: fadeinanim 1s;
    -webkit-animation-fill-mode: forwards;
}
.fadeinvideo {
    -webkit-animation: fadeinanim 4s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeinanim {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.fadeout {
    -ms-animation: fadeoutanim 1s;
    -o-animation: fadeoutanim 1s;
    -moz-animation: fadeoutanim 1s;
    -webkit-animation: fadeoutanim 1s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeoutanim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.outanim {
    -webkit-animation: smallout 0.25s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes smallout {
    0% {
        -webkit-transform: scale(1, 1)
    }
    100% {
        -webkit-transform: scale(0, 0)
    }
}
@-webkit-keyframes linkpop {
    0% {
        -webkit-transform: scale(0, 0)
    }
    10% {
        -webkit-transform: scale(0, 0)
    }
    50% {
        -webkit-transform: scale(1.05, 1.05)
    }
    100% {
        -webkit-transform: scale(1, 1)
    }
}


/* ========================================================================== Media Queries ========================================================================== */

@media only screen and (min-width: 35em) {} @media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
/* ========================================================================== Helper classes ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}